@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "@giocha/brand-tokens/tokens.css";
html,
body,
#root {
  height: auto;
  min-height: 100vh;
  margin: 0;
}

@layer base {
  body {
    font-family: "Roboto", sans-serif;
  }
}
@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.animate-zoomIn {
  animation: zoomIn 0.25s ease;
}

@keyframes dotBounce {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
}

.animate-dot-bounce {
  animation: dotBounce 0.8s infinite;
}

@layer components {
  .status-delivered {
    @apply bg-green-200 text-primary;
  }

  .status-delivering {
    @apply bg-gray-200 text-gray-700;
  }

  .status-unconfirmed {
    @apply bg-amber-200 text-red-700;
  }

  .status-cancelled {
    @apply bg-red-300 text-red-700;
  }
}
